@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  border-bottom: 1px solid #000;
  z-index: 9;
}
nav ul li {
  list-style: none;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  margin: 10px 20px;
}
nav .logo {
  width: 220px;
  cursor: pointer;
}
.nav-btn {
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  cursor: pointer;
}
.nav-btn img {
  width: 16px;
  margin-left: 8px;
}
.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#eefff9 10%, #ffccc1 50%, #dcdbff 100%);
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header h1 {
  margin-top: 100px;
  font-size: 13vw;
  line-height: 11vw;
}
.btn-container {
  margin: 20px 0;
}
.header button {
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
}
.btn-dark {
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 30px;
  border-radius: 40px;
}
.btn-dark img {
  width: 40px;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  margin-left: 30px;
}
.btn-light {
  background: transparent;
  color: #000;
  text-decoration: 1.5px underline;
}
.btn-light img {
  width: 20px;
  margin-left: 10px;
}
.header p {
  max-width: 360px;
  font-weight: 500;
}
.user-img {
  width: 80%;
  max-width: 500px;
  position: absolute;
  right: 13%;
  bottom: 0;
}

/*----------- anitation --------*/
.header h1 span {
  background: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 0%;
}
.header h1 span:first-child {
  animation: textcolor1 2s linear infinite alternate;
}
.header h1 span:last-child {
  animation: textcolor2 2s linear infinite alternate;
}
@keyframes textcolor1 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes textcolor2 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}
.menu-icon {
    display: none;
}
/* ------ Responsive for navbar ----- */

@media only screen and (max-width: 600px) {
  nav ul {
    position: absolute;
    width: 100%;
    background: #000;
    color: #fff;
    left: 0;
    top: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-hight;
  }
  .nav-btn {
    display: none;
  }
  nav .logo {
    width: 150px;
  }
  nav ul li {
    margin: 10px;
    font-size: 14px;
  }
  .menu-icon {
    display: block;
    width: 30px;
}
}
